/* Google Fonts  */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

h6 {
    font-weight: 600;
}


/*=========
spinner
========*/

#spinner {
    position: relative;
    display: none;
}

#spinner img {
    width: 80px;
    display: block;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
}


/*============
Result Not found
=================*/

#result-not-found {
    display: none;
    margin: 100px 0;
    font-size: 28px;
}


/*=========== 
Details phone button section  
=====================*/

.phone-brand {
    color: #0d6efd;
}

.features-p {
    font-weight: 600;
}

.normal-text {
    font-weight: 400;
    font-size: 14px;
}


/* #phone-detail-container {
    display: none;
} */